.skills-content {
    .about-stats {
        padding-bottom: 4rem;

        .progress-bars {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;

            @media (min-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }

            .skill-category {
                padding: 1.5rem;
                background: var(--color-grey-5);
                border: 1px solid var(--color-grey-5);
                border-radius: 5px;
                transition: all 0.4s ease-in-out;

                &:hover {
                    transform: translateY(-5px);
                    border: 1px solid var(--color-secondary);
                    box-shadow: var(--shadow-md);
                }

                .skill-header {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1.5rem;

                    .skill-icon {
                        font-size: 2rem;
                        color: var(--color-secondary);
                        margin-right: 1rem;
                    }

                    h5 {
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }

                .skill-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.8rem;

                    span {
                        padding: 0.4rem 1rem;
                        background: var(--color-primary);
                        border-radius: 30px;
                        font-size: 0.9rem;
                        color: var(--color-grey-2);
                        font-weight: 500;
                        transition: all 0.3s ease;

                        &:hover {
                            color: var(--color-secondary);
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}